docutils
flake8-blind-except
flake8-coding
flake8-debugger
flake8-isort
flake8-quotes
isort
pep8-naming
pillow
pytest==3.10.1
pytest-runner
robotframework
robotframework-seleniumlibrary
sphinx
sphinxcontrib-robotframework
setuptools-scm
